* {
  margin: 0;
  font-family: Arial;
}
:root {
  --White: hsl(0, 0%, 100%);
  --LightGray: hsl(212, 45%, 89%);
  --GrayishBlue: hsl(220, 15%, 55%);
  --DarkBlue: hsl(218, 44%, 22%);
}
body {
  height: 100vh;
  background-color: var(--LightGray);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 400px;
  overflow: hidden;
  border-radius: 3%;
  background-color: var(--White);
  padding: 15px;
}
.content {
  padding: 10px;
  padding-bottom: 5%;
  text-align: center;
  height: 40%;
}
img {
  height: 100%;
  width: 100%;
}
.code {
  border-radius: 3%;
  height: 60%;
  width: 100%;
  overflow: hidden;
}

.para {
  margin-top: 5%;
  font-size: 15px;
  color: var(--GrayishBlue);
  font-weight: 400;
}
.big {
  font-weight: 700;
  color: var(--DarkBlue);
  margin-top: 2%;
}

@media screen and (max-width: 320px) {
  .container {
    width: 90%;
    padding: 2%;
  }
  .big {
    font-size: 4vw;
  }
  .para {
    font-size: 4vw;
  }
  .content{
    padding: 2%;
  }
}
